@{
    Layout = "../Shared/_AdminDashboardLayout.cshtml";
    ViewData["Title"] = @UILabels.AdminIndexTitle;
}

<div class="text-center">
    <h1 class="display-4">@UILabels.WelcomeAdmin</h1>
    <p>@UILabels.AdminIndexDescription</p>
</div>
