@model RecordStore.Core.ViewModels.Record.GetRecordViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <partial name="_RecordDetailsPartial" />
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>

@section Scripts {
    <script src="~/js/photo-preview.js" type="text/javascript"></script>
}
