@{
    Layout = "../Shared/_AdminDashboardLayout.cshtml";
    ViewData["Title"] = "Manage Record Details";
}

<div class="row">
    <div class="col-xl px-3">
        <div class="mb-3" id="CategoryTableContainer"></div>
        <div class="mb-3" id="ReleaseTableContainer"></div>
        <div class="mb-3" id="FormatTableContainer"></div>
    </div>

    <div class="col-xl px-3">
        <div class="mb-3" id="GenreTableContainer"></div>
        <div class="mb-3" id="StyleTableContainer"></div>
        <div class="mb-3" id="ConditionTableContainer"></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/js/details.js")"></script>
}