@{
    Layout = "../Shared/_AdminDashboardLayout.cshtml";
    ViewData["Title"] = "Manage Record Details";
}

<div class="row">
    <div class="col-xl px-3">
        <div class="mb-3" id="CategoryTableContainer"></div>
        <div class="mb-3" id="ReleaseTableContainer"></div>
        <div class="mb-3" id="FormatTableContainer"></div>
    </div>

    <div class="col-xl px-3">
        <div class="mb-3" id="GenreTableContainer"></div>
        <div class="mb-3" id="StyleTableContainer"></div>
        <div class="mb-3" id="ConditionTableContainer"></div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/lib/jtable/themes/metro/lightgray/jtable.min.css" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/jtable/validation/validationEngine.jquery.css" type="text/css" />


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/jtable/jquery.jtable.min.js"></script>

    <script type="text/javascript" src="~/lib/jtable/validation/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="~/lib/jtable/validation/jquery.validationEngine-en.js"></script>

    <script type="text/javascript" src="~/js/details.js"></script>
}