@using RecordStore.MVC.Extensions
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row col-md-12">
    <div class="col-md-2">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link @Html.IsActive("Home", "Index")" aria-current="page" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    Home
                </a>
            </li>
            <li>
                <a class="nav-link @Html.IsActive("Users", "Index")" asp-area="Admin" asp-controller="Users" asp-action="Index">
                    Manage Users
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
</div>